In [3]:
!conda install -y pandas

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/vesper/miniconda3/envs/reranker

  added / updated specs:
    - pandas


The following NEW packages will be INSTALLED:

  pandas             conda-forge/linux-64::pandas-1.3.0-py39hde0f152_0


Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [1]:
import pandas

file = "data/msmarco-docs.tsv"

docs = pandas.read_csv(file, sep="\t", chunksize = 100, names = ["docid", "url", "title", "body"])

AttributeError: module 'pyarrow' has no attribute '__version__'

In [22]:
achei = None
for i, chunk in enumerate(docs):
    print(i)
    doc_test = chunk[chunk.isin(["D312959"])["docid"]]
    if len(doc_test) == 1:
        achei = doc_test
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [23]:
achei

,docid,url,title,body
895028,D312959,https://en.wikipedia.org/wiki/Visual_cortex,Visual cortex,"From Wikipedia, the free encyclopedianavigatio..."

# ================ Qrels - relevance judgments ================

The format of a qrels file is as follows:  

TOPIC      ITERATION      DOCUMENT#      RELEVANCY  

where **TOPIC** is the topic number,  
**ITERATION** is the feedback iteration (almost always zero and not used),  
**DOCUMENT** is the official document number that corresponds to the "docno" field in the documents, and  
**RELEVANCY** is a binary code of 0 for not relevant and 1 for relevant.  

Sample Qrels File:

1 0 AP880212-0161 0  
1 0 AP880216-0139 1  
1 0 AP880216-0169 0  
1 0 AP880217-0026 0  
1 0 AP880217-0030 0  

* The order of documents in a qrels file is not indicative of relevance or degree of relevance. 
* Only a binary indication of relevant (1) or non-relevant (0) is given. 
* Documents not occurring in the qrels file were not judged by the human assessor and are assumed to be irrelevant in the evaluations used in TREC. 
* The human assessors are told to judge a document relevant if any piece of the document is relevant (regardless of how small the piece is in relation to the rest of the document).

In [25]:
import pandas

file = "data/msmarco-doctrain-qrels.tsv"

qrels = pandas.read_csv(file, sep=" ", names=["topic", "iteration", "docid", "relevancy"])
# qrels_chunk = qrels.get_chunk()
qrels.head(10)

   topic  iteration     docid  relevancy
0      3          0   D312959          1
1      5          0   D140227          1
2     12          0   D213890          1
3     15          0  D1033338          1
4     16          0   D508131          1
5     18          0  D2286511          1
6     24          0    D69114          1
7     26          0  D1350520          1
8     31          0   D304123          1
9     42          0  D1439360          1

In [26]:
len(qrels)

367013

In [60]:
unique_docs = qrels['docid']

In [64]:
unique_docs = set(unique_docs)

In [65]:
len(unique_docs)

319927

In [27]:
len(qrels.columns)

4

- pegar os unique docs e manter apenas os doc completo que tem qrel

In [83]:
docs_that_have_qrel = pandas.DataFrame()
for i, chunk in enumerate(docs):
    print("chunk num", i)
    
    # filtrar linhas cujo docid esteja no unique_docs
    rows_with_qrels = chunk.loc[chunk['docid'].isin(unique_docs)]
    print(f"achou {len(rows_with_qrels)} linhas")
    docs_that_have_qrel = docs_that_have_qrel.append(rows_with_qrels)
    print("len do df final", len(docs_that_have_qrel))

chunk num 0
achou 5129 linhas
len do df final 5129
chunk num 1
achou 5115 linhas
len do df final 10244
chunk num 2
achou 4842 linhas
len do df final 15086
chunk num 3
achou 5054 linhas
len do df final 20140
chunk num 4
achou 5078 linhas
len do df final 25218
chunk num 5
achou 5034 linhas
len do df final 30252
chunk num 6
achou 4964 linhas
len do df final 35216
chunk num 7
achou 4855 linhas
len do df final 40071
chunk num 8
achou 5024 linhas
len do df final 45095
chunk num 9
achou 4971 linhas
len do df final 50066
chunk num 10
achou 5098 linhas
len do df final 55164
chunk num 11
achou 4894 linhas
len do df final 60058
chunk num 12
achou 5014 linhas
len do df final 65072
chunk num 13
achou 4937 linhas
len do df final 70009
chunk num 14
achou 4817 linhas
len do df final 74826
chunk num 15
achou 5028 linhas
len do df final 79854
chunk num 16
achou 5039 linhas
len do df final 84893
chunk num 17
achou 5144 linhas
len do df final 90037
chunk num 18
achou 5047 linhas
len do df final 95084
chunk num 19
achou 4976 linhas
len do df final 100060
chunk num 20
achou 4897 linhas
len do df final 104957
chunk num 21
achou 4948 linhas
len do df final 109905
chunk num 22
achou 4925 linhas
len do df final 114830
chunk num 23
achou 4914 linhas
len do df final 119744
chunk num 24
achou 5075 linhas
len do df final 124819
chunk num 25
achou 5051 linhas
len do df final 129870
chunk num 26
achou 5010 linhas
len do df final 134880
chunk num 27
achou 4900 linhas
len do df final 139780
chunk num 28
achou 5069 linhas
len do df final 144849
chunk num 29
achou 4911 linhas
len do df final 149760
chunk num 30
achou 5058 linhas
len do df final 154818
chunk num 31
achou 5001 linhas
len do df final 159819
chunk num 32
achou 4909 linhas
len do df final 164728
chunk num 33
achou 4905 linhas
len do df final 169633
chunk num 34
achou 4989 linhas
len do df final 174622
chunk num 35
achou 4911 linhas
len do df final 179533
chunk num 36
achou 4968 linhas
len do df final 184501
chunk num 37
achou 5002 linhas
len do df final 189503
chunk num 38
achou 5027 linhas
len do df final 194530
chunk num 39
achou 4905 linhas
len do df final 199435
chunk num 40
achou 4937 linhas
len do df final 204372
chunk num 41
achou 5092 linhas
len do df final 209464
chunk num 42
achou 5087 linhas
len do df final 214551
chunk num 43
achou 4899 linhas
len do df final 219450
chunk num 44
achou 4978 linhas
len do df final 224428
chunk num 45
achou 4781 linhas
len do df final 229209
chunk num 46
achou 5048 linhas
len do df final 234257
chunk num 47
achou 4878 linhas
len do df final 239135
chunk num 48
achou 5085 linhas
len do df final 244220
chunk num 49
achou 4868 linhas
len do df final 249088
chunk num 50
achou 4993 linhas
len do df final 254081
chunk num 51
achou 5059 linhas
len do df final 259140
chunk num 52
achou 5006 linhas
len do df final 264146
chunk num 53
achou 4984 linhas
len do df final 269130
chunk num 54
achou 5025 linhas
len do df final 274155
chunk num 55
achou 4905 linhas
len do df final 279060
chunk num 56
achou 4821 linhas
len do df final 283881
chunk num 57
achou 4850 linhas
len do df final 288731
chunk num 58
achou 4979 linhas
len do df final 293710
chunk num 59
achou 4971 linhas
len do df final 298681
chunk num 60
achou 4907 linhas
len do df final 303588
chunk num 61
achou 5033 linhas
len do df final 308621
chunk num 62
achou 4974 linhas
len do df final 313595
chunk num 63
achou 4928 linhas
len do df final 318523
chunk num 64
achou 1404 linhas
len do df final 319927

In [84]:
docs_that_have_qrel.to_csv('docs_that_have_qrel.tsv', sep = '\t', index=False)

In [30]:
qrel_test = qrels[qrels.isin(["D312959"])["docid"]]
qrel_test

         topic  iteration    docid  relevancy
0            3          0  D312959          1
159341  537619          0  D312959          1

In [57]:
texto_completo = achei.iloc[0]['body']

In [58]:
len(texto_completo)

38346

In [59]:
texto_completo[:100]

'From Wikipedia, the free encyclopedianavigation search Visual cortex View of the brain from behind. '

# Queries

In [36]:
import pandas

file = "data/msmarco-doctrain-queries.tsv"

queries = pandas.read_csv(file, sep="\t", names = ["qid", "query"])

In [44]:
query_test_1 = queries[queries.isin([3])["qid"]]
query_test_2 = queries[queries.isin([537619])["qid"]]

In [45]:
query_test_1

       qid                                            query
48698    3   another name for the primary visual cortex is

In [46]:
query_test_2

           qid                   query
362903  537619  visual cortex of brain